<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
 <arg name="custom_param_file" default="$(find alma_remote_planner)/param/dummy.yaml"/>
 <include file="$(find alma_remote_planner)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

</launch>
